html {
  font-size: 62.5%;
}

/***************TEXT-STYLES***************/

.text-title-dark-bold {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Merriweather Sans", sans-serif;
  color: #101418;
}

.text-title-dark {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Merriweather Sans", sans-serif;
  color: #101418;
}

.text-standart-italic-dark {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Merriweather Sans", sans-serif;
  font-style: italic;
  color: #101418;
}
