/* DESKTOP */
@media only screen and (min-width: 600px) {
  .cover-container {
    width: 378px;
    max-width: 378px;
    height: 554px;
    color: white;
    background-color: #0496ff;
    box-shadow: 0 10px 16px rgba(131, 131, 131, 0.75);
    margin-bottom: 24px;
    position: relative;
  }

  .text-asap-regular-big {
    font-family: "Asap Condensed", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin: 30px 42px;
  }

  .frame {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.4);
    width: 100%;
    padding: 12px;
    position: absolute;
    top: 335px;
    height: 84px;
    align-items: center;
  }
  .footer-cover {
    width: 100%;
    position: absolute;
    /* top: 483px; */
    bottom: 24px;
  }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .cover-container {
    width: 100%;
    height: 554px;
    color: white;
    background-color: #0496ff;
    box-shadow: 0 8px 16px rgba(131, 131, 131, 0.12);
    margin-bottom: 36px;
    position: relative;
  }

  .text-asap-regular-big {
    font-family: "Asap Condensed", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin: 30px 42px;
  }

  .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.4);
    width: 100%;
    padding: 12px;
    position: absolute;
    top: 335px;
    height: 84px;
  }
  .footer-cover {
    width: 100%;
    position: absolute;
    top: 483px;
  }
}

.cover-flex-container {
  display: flex;
  justify-content: center;
}

.rating-flex-container {
  display: flex;
}

.cover-block {
  display: block;
}

.cover-itens {
  margin: 4px 0px;
}

.star {
  margin-left: 4px;
}

.comment-btn {
  background: transparent;
  border: none;
  margin-left: -6px;
}

.comment-btn:hover {
  background-color: rgb(225, 236, 255, 0.5);
}

.red {
  background-color: #ff3a20 !important;
}

.blue {
  background-color: #0496ff;
}

.green {
  background-color: #4da167;
}

.purple {
  background-color: #6a0136;
}

.yellow {
  background-color: #fdca40;
}

.orange {
  background-color: #f18f01;
}
