/* .search-container-block {
  display: block;
} */

/* DESKTOP */
@media only screen and (min-width: 600px) {
  .search-container {
    margin-left: 108px;
    margin-right: 108px;
  }
  .flex-search {
    display: flex;
  }

  .search-btn {
    height: 56px;
    margin-left: 12px;
  }
}
.radio-container {
  display: flex;
  justify-content: flex-end;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .mobile-padding {
    padding: 16px;
  }
  .search-block--mobile {
    display: block;
  }
  .search-btn {
    width: 100%;
  }
}
