.nav-icon__search {
  width: 18px;
}

.nav-icon__book-close {
  width: 16px;
  height: 21px;
  margin-top: 3px;
}

.menu-btn {
  background-color: transparent;
  border: none;
  margin-top: 26px;
}

.link {
  text-decoration: none;
  color: black;
}
